


# BASEURL=https://ozabackendapi.ozaapp.com/api

BASEURL=http://192.168.1.83:3500

CLOUDINARY_ACCOUNT_NAME=ddm1owlon
CLOUDINARY_API_KEY=139478223114385
CLOUDINARY_API_SECRET_KEY=bCoGbA_xGQwT11kGJUrzhpOErh4
DATABASE_URI=mongodb+srv://oza_userApp:ibUfla7pmE8GI8i6@cluster0.ha6y1yt.mongodb.net/oza_DB

EMAIL_API_PASSWORD=b8e7e938d3ec8ea2448ffea6423ab17c
EMAIL_HOST=live.smtp.mailtrap.io
EMAIL_USER_KEY=api

NODE_ENV=dev

# PayPal Live Keys
# PAYPAL_KEY=AeT1OfuzdvH_HmGqq2uo_nKiTLn0wrjVehNuOI_jSrYnkXz7JGUj6PryhmZ3xr8GYymllCDjr9SRaxAV
# PAYPAL_MODE=live
# PAYPAL_SECRET=EJQRV_WBDu9Xx11Jb2suEXcb-lg2wvcBllDe5qjTudokeuvpCVuLacw15-TA81IwvYO4HbbX2vioFAvc

SECRET_LOGIN_KEY=secretkeylong

# PayPal Sandbox Keys
PAYPAL_KEY=AZIQ8UQS1ZaBQYU8CwV39QC-qTbihvNjyb3hcM6dcOChZn01tBUo4X80cZjmnach3sf41IagLSBOhCPq
PAYPAL_SECRET=EEe6YAUzp5Q5MQgRsnuHEE28H_6ANbnWphfG0i76QWxcY8eKpZJ73xSWDXFjqqhXBoSSfL2mlvLkYH-H
PAYPAL_MODE=sandbox   



# SERVER_BASEURL=https://ozabackendapi.ozaapp.com
SERVER_BASEURL=http://192.168.1.83:3500
SERVER_PORT=3500
SERVER_HOST=
SERVER_MODE=live

# gmail email sending details if mailtrap not working

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_SERVICE=gmail
SMTP_PASS=bbnxfsqirjrbtvxr
SMTP_USER=ozaappng@gmail.com


# Bills Payment Providers
VTUGATE_API_KEY=your_vtugate_key_here
VTUGATE_BASE_URL=https://vtugate.com/api

BIGISUB_API_KEY=your_bigisub_key_here
BIGISUB_BASE_URL=https://bigisub.ng/api

MONNIFY_API_KEY=your_monnify_key_here
MONNIFY_SECRET_KEY=your_monnify_secret_here
MONNIFY_BASE_URL=https://api.monnify.com

