<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="https://ozaapp.com/assets/images/favicon.svg" />
    <link rel="icon" href="https://ozaapp.com/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" href="https://ozaapp.com/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://ozaapp.com/favicon-16x16.png" sizes="96x96" />
    <link rel="apple-touch-icon" href="https://ozaapp.com/android-chrome-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://ozaapp.com/android-chrome-512x512.png" sizes="512x512" />
    <link rel="apple-touch-icon" href="https://ozaapp.com/apple-touch-icon.png" />

    <title>Oza App Web API</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <h1>Oza App Backend API </h1>
</body>
</html>